
header{
	text-decoration: underline black;
	font-family: Quicksand, sans-serif;
	text-align: center;
	padding: 2vw;
	border: 1px solid #FDFAFA;
}
body{
	align-content: center;
	font-family: Aleo;

}
.adaptativa-porcentaje-1 {
	width: 70%;
	

}
.adaptativa-porcentaje-2  {
	
	width: 70%;
	
}
.adaptativa-porcentaje-3 {
	width: 70%;
	
}
.adaptativa-porcentaje-4 {
	width: 100px;
}

footer{
	text-align: center;
	border-top: 2px solid brown;
	padding-top:  1vw;
	margin-top: 1vw;
}
#contenido{
	margin: 1%;
	text-align: center;
}
p{
	font-family: 'PT Serif', serif;
}
@media (min-width: 600px) {

	body {
		font-size: 16px;
		color: #3F6B91;
	}

	#resumen{
		display: block;
	}
@media (min-width: 900px) {
	body {
		font-size: 14px;
		color: black;
	}
}
